<div class="col-md-12">
  Register new user: {{input id="new-user-name" class="text-input" placeholder="Enter username" value=name}}
  <button {{action 'addNew' }} class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add
  </button>
</div>
<div class="col-md-12">
  {{message}}
</div>