<div class="col-md-12">
  Register new user: {{input id="new-user-email" class="text-input" placeholder="Enter email address" value=name}}
  <button id="register-button" {{action 'addNew' }} class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add
  </button>
</div>
<div class="col-md-12">
  <div id="message">
    {{message}}
  </div>
</div>